*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* ----------hearder------------ */

.head_section{
    height: 100px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
.sitename{
    font-size: 30px;
    font-weight: bolder;
}



/* ------------main-------------- */
.bg-img{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.694),rgba(0, 0, 0, 0.708),rgba(0, 0, 0, 0.717)),url(image/hero-bg.jpg);
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.clients_section{
    height: auto;
    padding: 60px 0px;
    /* background-color: red; */
}

.about_bg_section{
    margin: 80px 0px;
    height: auto;
    padding: 100px 0px;
    background-color: #1b1b1b;
    transform: skewy(-3deg);
}
.about_main_section{
    height: 80%;
    /* background-color: #1b1b1b; */
    /* padding-top: 60px; */
    transform: skewy(3deg);
}

/* ---------stats section--------- */


.stats_items{
    border-radius: 5px;
    position: relative;
    margin: 20px 15px;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.562);
    padding: 30px 0px;

}
.starts_img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid whitesmoke;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

.stats_items h2{
    font-size: 40px;
    font-weight: bolder;
    /* margin-top: 20px; */
}       
.stats_items span{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

/* ---------pill section--------- */
.pill_section{
    height: auto;
}   




/* ---------portfolio section--------- */
